@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.ButtonSelectInput {
    display: flex;
    justify-content: center;

    @include respond(phone) {
        flex-direction: column;
    }

    &__option {
        font-family: inherit;
        font-size: 2rem;
        line-height: 2.4rem;

        color: $color-white;
        background-color: $color-grey-60;

        text-transform: uppercase;

        border: none;

        padding: .8rem 1.6rem;

        cursor: pointer;

        &--selected {
            background-color: #50E68C;
            color: $color-grey-80;
        }

        &:first-child {
            border-radius: .2rem 0 0 .2rem;

            @include respond(phone) {
                border-radius: .2rem .2rem 0 0;
            }
        }
        &:last-child {
            border-radius: 0 .2rem .2rem 0;

            @include respond(phone) {
                border-radius: 0 0 .2rem .2rem;
            }
        }
    }
}