@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.EditMaterialLayout {
    margin: 0 auto;
    max-width: $grid-width;

    display: grid;
    grid-template-columns: $column-grid-12;
    gap: $grid-gutter;

    @include respond(tab-port) {
        display: flex;
        flex-direction: column-reverse;
    }

    &__left-side {
        grid-column: 1 / span 7;
    }

    &__right-side {
        grid-column: 8 / span 5;
    }

    &__options {
        position: sticky;
        top: 1.6rem + $header-height;

        overflow-y: auto;
        max-height: calc(100vh - #{$header-height} - 1.6rem);

        @include respond(tab-port) {
            max-height: none;
            border-bottom: .4rem solid $color-grey-20;
        }
    }
}