@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.Form {
    display: grid;
    grid-template-columns: $column-grid-8;
    gap: $grid-gutter;

    form {
        grid-column: 2 / span 6;

        @include respond(phone) {
            grid-column: span 8;
        }
    }
}