// COLORS
$color-primary: #E65950;
$color-primary-dark: #992E26;

$color-secondary: #398EE6;
$color-secondary-dark: #2C6299;

$color-tertiary: #D8E66C;

$color-black: #000;
$color-grey-80: #322E2D;
$color-grey-60: #726A69;
$color-grey-40: #BCB3B2;
$color-grey-20: #EBE4E3;
$color-white: #fff;

$color-red: #B43E3E;


// DIMENSIONS
$header-height: 5.6rem;
$grid-width: 112rem;
$grid-column-width: 6.4rem;
$grid-gutter: 3.2rem;
$page-margin: 3.2rem;


// GRID
$column-grid-12: repeat(12, minmax(0, $grid-column-width));
$column-grid-8: repeat(8, minmax(0, $grid-column-width));