@import '../../sass/variables.scss';

.ComposePlotInputPart {
    border: .4rem solid $color-grey-40;
    background-color: $color-white;

    display: flex;
    align-items: center;

    margin-bottom: .8rem;
    
    &__drag-part {
        padding: .8rem;

        svg {
            width: 2.4rem;
            height: 4rem;
            fill: $color-primary;
        }
    }

    &__text-part {
        padding: .8rem;
    }
}