@import '../../sass/variables.scss';
@import '../../sass/functions.scss';

.Page {
    width: 100%;
    min-height: 100vh;

    margin: 0 auto;

    background-color: $color-white;

    display: flex;
    flex-direction: column;

    @media (min-width: pxToEm(2250)) {
        max-width: $max-page-width;
        margin: 3.2rem auto;
        box-shadow: 0 1rem 1rem rgba($color-black, .3);

        min-height: calc(100vh - 2*3.2rem);
    }

    &__content {
        flex: 2;

        &--flex {
            display: flex;
            flex-direction: column;
        }
    }
}