@import '../../sass/variables.scss';

.SelectInput {
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 2.4rem;

    color: $color-grey-80;
    background-color: $color-grey-20;

    padding: .8rem;

    max-width: 100%;

    border: none;
    border-radius: .2rem;

    outline-color: $color-grey-60;
}