@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.PageLayoutCentered {
    padding: 0 3.2rem;

    flex-grow: 2;
    display: flex;
    flex-direction: column;

    > div {
        display: grid;
        grid-template-columns: $column-grid-12;
        gap: $grid-gutter;
        
        max-width: $grid-width;
        margin: 0 auto;

        flex-grow: 2;

        @media (max-width: pxToEm(800)) {
            gap: 0;

            > .ColumnPattern {
                display: none;
            }
        }
    }

    &__content {
        grid-column: span 8;

        padding: 3.2rem 0;

        @media (max-width: pxToEm(800)) {
            grid-column: span 12;
        }
    }
}